body {
    margin: 0px;
    padding: 0px;
}

.all {

    width: 97vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.button {
    display: none;
}
/*Desktop*/
.menu, .menuVisible {
    height: 100%;
    width: 25%;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

h1 {
    color:#212121;
font-family: 'Ubuntu', sans-serif;
}

h2 {
    margin: 4px;
    font-family: 'Ubuntu', sans-serif;
    color: #125e8a;
}

p {
font-size: 16pt;
font-family: 'Maven Pro', sans-serif;
}
.logo {
    color: #d71920;
    font-size: 60px;
}

.main {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: white;
    align-items: center;
}

header {
    width: 66.6%;
    margin: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

content {
    width: 66.6%;
    margin-bottom: -10px;
}

footer {
    width: 66.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
/*Desktop*/

/*Mobile*/
@media only screen
and (max-device-width : 425px)
and (orientation : portrait) {

    .menu {
        display: none;
    }

    .menuVisible {
        position: fixed;
        top: 0;
        left: 0;
        width: 80vw;
        height: 100vh;
        z-index: 1;       
    }

    .button {
        display: unset;
        position: fixed;
        top: 0;
        left: 0;        
        width: 50px;
        height: 50px;
        background-color: transparent;
        z-index: 10;
    }


    .main {
        width: 100%;

    }

    header {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .product {
        width: 100%;
    }

}
/*iPhone 5*/